config SOC_SERIES_GD32E23X
	bool
	select SOC_FAMILY_GD_GD32
	help
	  Enable support for GigaDevice GD32E23X MCU series

config SOC_SERIES
	default "gd32e23x" if SOC_SERIES_GD32E23X

config SOC_GD32E230
	bool
	select SOC_SERIES_GD32E23X

config SOC
	default "gd32e230" if SOC_GD32E230